/* chatbot BG */
/*.mainBG{background:url(../../image/chatbotStyle/psa_bg2.png) no-repeat center 10%; background-attachment:fixed; width:100%}*/
.botBtnPosition{position:absolute;top:360px;left:25%}
.banner{background:url(../../image/chatbotStyle/btn_link2.jpg) no-repeat; width:127px;height:32px;margin:5px;cursor:pointer/*position:relative;top:340px;left:23.5%;transform: translateX(-50%) translateY(-10%);*/}
/*.banner{background:url(../../image/chatbotStyle/btn_chatlink.png) no-repeat; width:170px;height:47px;position:relative;top:340px;left:23.5%;transform: translateX(-50%) translateY(-10%);}
.banner:hover{background:url(../../image/chatbotStyle/btn_chatlink_hover.png) no-repeat; width:170px;height:47px;position:relative;top:340px;left:23.5%;transform: translateX(-50%) translateY(-10%);cursor:pointer}*/

/* chat TOP */
.chatTitle{background: url("../../image/chatbotStyle/topbar_title.png") no-repeat;background-size:300px 50px; height:50px;width:300px; display: inline-block;}
.chatTitleText {display:inline-block; margin-top:11px; padding:0 0 5px 32px;font-size:18px; font-weight:bold; color:#fff; letter-spacing:0; background: url('../../image/chatbotStyle/new/ico_title.png') no-repeat 0 3px; background-size:27px 26px;}
.topIcon01{background: url("../../image/chatbotStyle/btn_down.png") no-repeat;  width:14px;height:13px;display: inline-block;top: 14px; right: 58px;position: absolute} 
.topIcon02{background: url("../../image/chatbotStyle/btn_fsize.png") no-repeat;  width:12px;height:12px;display: inline-block;top: 14px; right: 34px;position: absolute;}
.topIcon02-1{background: url("../../image/chatbotStyle/btn_fsize_02.png") no-repeat;  width:12px;height:12px;display: inline-block;top: 14px; right: 34px;position: absolute;}
.topIcon03{background: url("../../image/chatbotStyle/btn_close.png") no-repeat;  width:13px;height:13px;display: inline-block;top: 14px; right: 10px;position: absolute;}
.topIcon{width:12px; height:12px;cursor:pointer;margin:7px 3px 0 9px;float:right}
.topGestureArea{float:right;background:gray;width:65px;height:22px;cursor:pointer}
.topGestureIcon{color:#302f35 !important;background:#fff;width:30px;height:22px;display:inline-block;float:right}
.topGestureOn{display:inline-block;position:absolute;top:9px;margin-left:35px}
.topGestureOff{display:inline-block;position:absolute;top:9px;margin-left:5px}


/* chat view */
/*.wc-list{background-color: #f1f3f6}*/
.wc-card{margin-bottom:18px;/*box-shadow: 3px 3px 5px 0px #424242;*/}
.timeStampBot{font-size: 12px; color: #a6a6ab;line-height: 15px; text-align: right; /*background: #f1f3f6;*/padding-top: 3px !important; position:absolute; bottom:-5px; right:0}
.timeStampUser{position:absolute; bottom:0; left:-60px; font-size: 12px;color:#a6a6ab; line-height: 15px;text-align: right;padding-top:7px !important}
.ac-container{padding:0 !important; max-width:312px;/*border-radius:5px; background-color:#F8FFFF !important*/}
.ac-container > div {color:#666 !important}
.ac-image{min-height:150px;}
.wc-list > .wc-card {
    background-color: #fff !important; /*border-color:#F8FFFF !important*/
    border: 1px solid #c0c0c0;
}
.wc-carousel-item > .wc-card{background-color:#fff !important;max-width:200px; /*border-color:#F8FFFF !important;*/ border:1px solid #c0c0c0}
/*.wc-carousel-item > .wc-card > .ac-container{background-color:#F8FFFF !important}
.wc-carousel-item > .wc-card > .ac-container > .ac-container{background-color:#F8FFFF !important}*/
.wc-carousel-item > .wc-adaptive-card{max-width:200px}
.ac-container > div > p {padding:15px !important; font-size:14px;}
.ac-container > div > ol {padding:10px !important}
.ac-container > div > ul {padding:10px !important}

/* chat input */
.wc-sap{background: url("../../image/chatbotStyle/hash01.png") no-repeat 50% 50%;background-size:25px 25px;width:50px;height: 50px;display:none;}
.sapIcon{background: url("../../image/chatbotStyle/new/hash01.png") no-repeat 50% 50%;background-size:25px 25px; width:50px;height:50px}
.sapIcon:hover{background: url("../../image/chatbotStyle/hash02h.png") no-repeat 50% 50%;background-size:25px 25px; width:50px;height:50px;cursor:pointer}
/* .sapIcon-sharp{height:23px;background-color:#302f35;color:#fff;text-align:center;position:relative;top:15px;border-radius:5px;padding-top:2px;cursor:pointer} */
.sapIcon-close{background: url("../../image/chatbotStyle/close03.png") no-repeat 50% 50%;background-size:35px 35px; width:50px;height:50px;cursor:pointer}
.sapIcon-close:hover{background: url("../../image/chatbotStyle/close03h.png") no-repeat 50% 50%;background-size:35px 35px; width:50px;height:50px;cursor:pointer}
.sapIcon-search{background: url("../../image/chatbotStyle/search_btn.png") no-repeat 50% 50%;background-size:35px 35px; width:50px;height:50px;cursor:pointer}
/*.sendIcon{width:42px;height:23px;background-color:#C3C6CD;color:#fff;text-align:center;position:relative;top:13.5px;left:9px;border-radius:5px}*/ /* 글자용 */
/*.sendIcon{background: url("../../image/chatbotStyle/btn_red.png") no-repeat; width:35px;height:35px;margin:8px}*/ /*이미지용*/
.sendIcon{background: url("../../image/chatbotStyle/new/btn_send.png") no-repeat;background-size:28px 24px; width:28px;height:24px;margin:13px 10px}
/* .sendIcon:hover{background: url("../../image/chatbotStyle/btn_send_h.png") no-repeat;background-size:35px 35px; width:35px;height:35px;margin:8px} */

.wc-menu{display: inline-block;width:50px;height: 50px;margin-left:-50px; background:#fff;}
/*origin*/
/*.menuBox{background-color:#fff;width:100%;height:100px;position:fixed;bottom:10px;display:none;text-align:center; border-radius: 4px;}*/
.menuBox{background-color:#fff;width:100%;position:absolute;top:55px;left:-25px;text-align:center;/*box-shadow: 0 1px 10px 0 rgba(0,0,0,0.30);border: 1px solid #CCC;*/ border-radius: 4px;display:none}

.menuIcon{background: url("../../image/chatbotStyle/new/plus.png") no-repeat 50% 50%;background-size:40px 40px; width:50px;height:50px;cursor:pointer}
/*
.menuIcon:hover{background: url("../../image/chatbotStyle/plus02h.png") no-repeat 50% 50%;background-size:35px 35px; width:50px;height:50px;cursor:pointer}
*/
.menuIcon_active{background: url("../../image/chatbotStyle/new/close.png") no-repeat 50% 50%;background-size:40px 40px; width:50px;height:50px;cursor:pointer}
/*
.menuIcon_active:hover{background: url("../../image/chatbotStyle/close03h.png") no-repeat 50% 50%;background-size:35px 35px; width:50px;height:50px;cursor:pointer}
*/
.menuReStartBtn{color:#fff;background-color:#326E9B;height:30px;font-size:12px}
.menuReStartBtn > span {position:relative; top:7px}
/*.menuSelectBtn{border-top:1px solid #f0f1f4;position:relative;width:20%;height:40px;display:inline-block;padding-top:10px;cursor:pointer;background-color:#3a3a3a;color:#fff;border-radius:15px;margin:5px 10px 10px 5px}*/
.menuSelectBtn {
    border: 1px solid #898989;
    position: relative;
    /*width: 20%;*/
    height: 40px;
    display: inline-block;
    padding: 10px 15px 0;
    cursor: pointer;
    background-color: #fff;
    color: #666;
    border-radius: 20px;
    margin: 5px 10px 10px 5px
}
.menuSelectBtn > span {position:relative; top:4px}

.ttsMicBlack{background: url("../../image/chatbotStyle/micBlack_50.png");width:50px;height:50px;position:absolute;bottom:0;right:60px;cursor:pointer}
.ttsMicRed{background: url("../../image/chatbotStyle/micRed_50.png");width:50px;height:50px;position:absolute;bottom:0;right:60px;cursor:pointer}

/* media Icon */
.playImg {background: url("../../image/chatbotStyle/ico_play_50.png");width:50px;height:50px;transition:.5s ease;opacity:1;position:absolute;top:25%;left:50%;transform:translate(-50%, -50%);-ms-transform: translate(-50%, -50%);cursor:pointer}
.imgImg {background: url("../../image/chatbotStyle/d_icn_img.png");width:34px;height:34px;transition:.5s ease;opacity:1;position:absolute;top:40%;left:85%;transform:translate(-50%, -50%);-ms-transform: translate(-50%, -50%);cursor:pointer}
.mapImg {background: url("../../image/chatbotStyle/ico_map_50.png");width:50px;height:50px;transition:.5s ease;opacity:1;position:absolute;top:25%;left:50%;transform:translate(-50%, -50%);-ms-transform: translate(-50%, -50%);cursor:pointer}
.reelImg {background: url("../../image/chatbotStyle/ico_reel_50.png");width:50px;height:50px;transition:.5s ease;opacity:1;position:absolute;top:25%;left:50%;transform:translate(-50%, -50%);-ms-transform: translate(-50%, -50%);cursor:pointer}

/* popup Area */
.popupArea{opacity:0;position: absolute;right:0;bottom: 174px;width:570px;height:354px;display:none;background-color:#fff;z-index:1500}
.popupTitle{font-size:20px;color:#FFF;position:absolute;top:5px;left:15px}
.popHeader{background-color:#4b4f57; background-size: 100%;height: 38px;width: 571px; position: relative;}
.popBody{background-color: #fbfbfb;height:318px; position: relative;}
.btnTopClose{background: url("../../image/chatbotStyle/btn_close.png") no-repeat;  width:17px;height:17px;display: inline-block;top: 13px; right: 10px;position: absolute;border:none;}
.imgBox img{width:568px}
.popTxt{text-align:center; position:absolute; bottom:11px; width:100%}
.popTxt span{background-color: #bcbcbc; color: #FFF; border-radius: 5px; padding: 4px 10px 5px; font-size: 12px}

/* gesture Area */
.gestureArea{opacity:1;position: absolute;right:381px;bottom:0;width:250px;height:528px;display:none;background-color:#fff;z-index:1000}
.gestureTitle{font-size:20px;color:#FFF;position:absolute;top:5px;left:15px}
.gestureHeader{background-color:#4b4f57; background-size: 100%;height: 38px;width: 250px; position: relative;}
.gestureBody{background-color: #fbfbfb;height:490px; position: relative;}

/* tooltip */
.tooltip{font-family:'CJONLYONENEWbodyRegular'}
.tooltip.top .tooltip-arrow{border-top-color:#326E9B}
.tooltip-inner{background-color:#326E9B;padding:8px 3px}
.tool2{left:-45px !important}

/* 미디어 쿼리 분기 */
@media (max-width:480px) {
    .menuBox {top:50px;}
    .menuSelectBtn {height:30px; margin-bottom:0; padding:7px 10px 0; font-size:13px;}
}

/* 반품택배예약 쪽 추가 - 진주호 */
.takeBack {display:inline-block; width:calc(100% - 24px); margin:0 15px; padding:10px 12px; border:1px solid #c6c6c7; border-radius:4px;}
.takeBack .endDate {display:inline-block; float:left; margin-right:15px;}
.takeBack .endDate span {display:block; text-align:center;}
.takeBack .endDate span.dateDay {font-size:18px; color:#333;}
.takeBack .endDate span.dateWeek {font-size:11px; color:#999;}
.takeBack .prodInfo {float:left; width:75%;}
.takeBack .prodInfo span {display:block;}
.takeBack .prodInfo span.prodName {margin-bottom:5px; font-size:15px; color:#333;}
.takeBack .prodInfo span.prodNum {margin-bottom:5px; font-size:14px; color:#333;}
.takeBack .prodInfo span.prodStatus {font-size:14px; color:#e61546;}